.invoice-container {
  max-width: 890px;
  margin: 1px auto;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 10px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #555;
}

.invoice-box {
  height: 50px;
  width: 100%;
  background-color: rgb(26, 84, 65);
}
.invoice {
  padding: 30px;
}

.content {
  display: flex;
  gap: 2px;
  padding: 20px;
  margin-top: -40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content-left {
  margin-left: 40px;
  align-items: center;
  margin: 20px;
}

.logo {
  height: 160px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.title {
  margin-top: -20px;
  padding-left: 0px;
}

.amounts {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

.amount {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}
.total-amount {
  font-size: xx-large;
}

.address {
  display: flex;
  gap: 10px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ad-data {
  line-height: 22px;
  font-size: 16px;
}

.ac-data {
  line-height: 22px;
  font-size: 16px;
  margin-top: 40px;
}
.content-right {
  line-height: 22px;
  font-size: 16px;
}

.footer {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: rgba(26, 84, 65);
  color: white;
}

.foot-title {
  position: absolute;
  left: 310px;
  top: 60px;
  font-size: 16px;
}

.body-values {
  width: 100%;
  margin-top: 40px;
}

.table-values {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.values {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}

.space {
  margin-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
  font-weight: 1000;
}
